<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior name="">
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
            <serviceDebug includeExceptionDetailInFaults="false"/>
          </behavior>
          <behavior name="debug">
            <serviceDebug includeExceptionDetailInFaults="true"/>
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <services>
        <service name="Bochky.FindDirectory.Service.Implementation.FindService" behaviorConfiguration="debug">
          
          <endpoint address="" binding="basicHttpBinding" contract="Bochky.FindDirectory.Common.Interfaces.IFindServiceContract"/>
          
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
          
          <host>
            <baseAddresses>              
              <add baseAddress="http://localhost:8733/BochkyFindDirectoryService/"/>
            
            </baseAddresses>
          </host>
        </service>
      </services>
    </system.serviceModel>
  
</configuration>
